/*video*/
    .video-info .form-inline .form-group .form-control {
      width: 400px;
    }

    .video-info .form-inline button {
      width: 150px;
      font-size: 16px
    }
/*navbar*/
    .navbar-fixed {
        top: 0;
        z-index: 100;
        position: fixed;
        width: 100%;
      }

      .navbar-default {
        background-color: rgba(94, 240, 112, 0.65);
        width: 100%;
        margin-bottom: 0;
      }

.navbar-default .container-fluid {
  background-color: rgba(94, 240, 112, 0.65);
  /*margin-bottom: 200;*/
  height: 75px;
}

.navbar {
  margin-bottom: 0;
}
.navbar-brand {
  padding: 0
}
.navbar-brand h4 {
  font-size: 30px
}

.header-unit {
  height: 600px;
  /*border: 1px solid #000;*/
  position: relative;
  padding: 20px;
}

.fullscreen-bg {
  position: absolute;
}
.fullscreen-bg {
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
video {
  position: absolute;
  z-index: 0;
}
.fullscreen-bg_video {
  width: 100%;
}

.container-fluid h2 {
  text-align: center;
}

.row {
  margin: 30px auto;
}
/*.fullscreen-bg {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}*/

/*.fullscreen-bg_video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}*/

  .carousel {
    /*max-width: 1000px;*/
    margin: 0 auto;
    /*border-radius: 10px;*/
  }
  .carousel img {
    width: 100%;
    max-height: 550px;
  }

.carousel, .carousel img, .carousel-inner, .carousel-control {
  /*border-radius: 10px;*/
}

.carousel-caption h3 {
  font-size: 40px;
}

.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

/*.container {
    margin: 20px auto;
    max-width: 1065px;
}*/
#featured-img img {
    width: 400px;
    height: 220px;
    /*border-radius: 10px;*/
}

.video-content {
  top: 0;
  color: #fff;
}
.video-info {
  position: absolute;
  /*top: 0;
  right: 0;*/
  background: rgba(0,0,0, 0.3);
  color: #fff;
  padding: 1rem;
  top: 200px;
  left: 150px;
  border-radius: 5px;
}

.box1 {
  height: 500px;
}

/*******Events******/
#upcoming-events {
  padding: 7em 0;
  background-color: transparent;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
#upcoming-events > .events-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 9;
}
#upcoming-events > .container {
  z-index: 10;
  position: relative;
}
#upcoming-events .event-heading .heading {
  position: relative;
  padding-top: 30px !important;
  color: #fff;
}
#upcoming-events .event-heading .heading:before, #upcoming-events .event-heading .heading::before {
  height: 64px;
  width: 49px;
  position: absolute;
  content: "";
  background: url(../images/0402-chef.png) no-repeat;
  top: 0;
  left: 50%;
  margin-top: -50px;
  margin-left: -24px;
}
#upcoming-events .event-heading .sub-heading {
  color: #a99c92;
}
@media screen and (max-width: 768px) {
  #upcoming-events {
    padding: 5em 0;
  }
}
#upcoming-events .single-event {
  background: #fff;
  padding: 50px;
  text-align: center;
  margin-bottom: 30px;
  position: relative;
}
#upcoming-events .single-event:before {
  border: 2px solid #e6e6e6;
  content: "";
  position: absolute;
  top: 15px;
  bottom: 15px;
  right: 15px;
  left: 15px;
  z-index: 0;
}
#upcoming-events .single-event h3, #upcoming-events .single-event .single-event-date, #upcoming-events .single-event p, #upcoming-events .single-event .btn {
  position: relative;
  z-index: 2;
}
#upcoming-events .single-event h3 {
  padding: 0;
  margin: 0;
}
#upcoming-events .single-event .single-event-date {
  margin-bottom: 20px;
  display: block;
  color: gray;
  position: relative;
  padding-bottom: 10px;
}
#upcoming-events .single-event .single-event-date:after, #upcoming-events .single-event .single-event-date::after {
  background: #bfbfbf;
  background: #fb6e14;
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 40px;
  height: 2px;
  margin-left: -20px;
}
#upcoming-events .single-event p {
  font-size: 16px;
  line-height: 1.8;
}
#upcoming-events .single-event p:last-child {
  margin-bottom: 0;
}
#upcoming-events .single-event .btn {
  margin-bottom: 0;
}

/************************ Recipes ******************************/
#recipes-box {
  height: 600px;
}
#recipes-box .col-md-8, #recipes-box .col-md-4 {
  height: 100%;
  border: 1px solid black;
}
#recipes-box .col-md-4 {
  float: right;
}
